<app-navbar></app-navbar>
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="display-1 text-center text-primary">Quên mật khẩu</h1>
        <form [formGroup]="formForgotPassword" (ngSubmit)="forgotPassword()">
          <div>
            <div class="form-item w-100">
              <label class="form-label my-3">Địa chỉ email</label>
              <input type="text"
                     formControlName="email"
                     class="form-control p-3"
                     placeholder="Nhập địa chỉ email của bạn"
                     [ngClass]="{ 'is-invalid' :  (submitted || f['email'].touched)  && f['email'].errors,
                                  'is-valid' :  (submitted || f['email'].touched)  && !f['email'].errors}">
              <span *ngIf="(submitted || f['email'].touched) && f['email'].errors?.['required']"
                    style="color: #dc3545; font-size:0.875em">
                Địa chỉ email không được để trống
              </span>
              <span *ngIf="(submitted || f['email'].touched) && f['email'].errors?.['email']"
                    style="color: #dc3545; font-size:0.875em">
                Địa chỉ email không đúng định dạng
              </span>
            </div>
            <div class="row g-4 pt-4 d-flex justify-content-between">
              <div class="d-flex justify-content-center">
                <p>Bạn đã có tài khoản? <a routerLink="/authentication/login">Đăng nhập ngay</a></p>
              </div>
              <div class="col-12 col-md-12 d-flex justify-content-center">
                <button type="submit" class="d-flex justify-content-center align-items-center btn border-secondary rounded-pill py-3 px-5 text-white bg-primary w-75">Xác nhận
                  <div *ngIf="isLoading" class="spinner-border ms-3" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
