<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Chi tiết sản phẩm</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
    <li class="breadcrumb-item active text-white">Chi tiết sản phẩm</li>
  </ol>
</div>
<div class="container-fluid py-5 mt-5">
  <div class="container py-5">
    <div class="row g-4 mb-5">
      <div class="col-lg-8 col-xl-9">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="border rounded">
              <img src="{{product.imageUrl}}" class="img-fluid rounded" alt="Image">
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="fw-bold mb-3">{{product.name}}</h4>
            <p class="mb-3">Loại sản phẩm: {{product.category?.name}}</p>
            <h5 class="fw-bold mb-3">{{product.price | number}},000 VNĐ</h5>
            <div class="d-flex mb-4">
              <i class="fa fa-star text-secondary"></i>
              <i class="fa fa-star text-secondary"></i>
              <i class="fa fa-star text-secondary"></i>
              <i class="fa fa-star text-secondary"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="mb-4">{{product.description}}</p>
            <div class="input-group quantity mb-5" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-minus rounded-circle bg-light border" (click)="decrementQuantity()">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control text-center border-0 bg-white" value="{{quantity}}" readonly>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-plus rounded-circle bg-light border" (click)="incrementQuantity()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <button (click)="addCart(product.id || '', quantity)" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
              class="fa fa-shopping-cart me-2 text-primary"></i>Thêm vào giỏ hàng</button>
          </div>
          <div class="col-lg-12">
            <nav>
              <div class="nav nav-tabs mb-3">
                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                        aria-controls="nav-about" aria-selected="true">Mô tả
                </button>
                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                        aria-controls="nav-mission" aria-selected="false">Đánh giá
                </button>
              </div>
            </nav>
            <div class="tab-content mb-5">
              <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <p>{{product.description}}</p>
<!--                <div class="px-2">-->
<!--                  <div class="row g-4">-->
<!--                    <div class="col-6">-->
<!--                      <div class="row bg-light align-items-center text-center justify-content-center py-2">-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Weight</p>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">1 kg</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row text-center align-items-center justify-content-center py-2">-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Country of Origin</p>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Agro Farm</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row bg-light text-center align-items-center justify-content-center py-2">-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Quality</p>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Organic</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row text-center align-items-center justify-content-center py-2">-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Сheck</p>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Healthy</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row bg-light text-center align-items-center justify-content-center py-2">-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">Min Weight</p>-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                          <p class="mb-0">250 Kg</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                <div class="d-flex">
                  <img src="assets/img/avatar.jpg" class="img-fluid rounded-circle p-3"
                       style="width: 100px; height: 100px;" alt="">
                  <div class="">
                    <p class="mb-2" style="font-size: 14px;">12 Tháng 09, 2025</p>
                    <div class="d-flex justify-content-between">
                      <h5>Nguyễn Văn Nam</h5>
                      <div class="d-flex mb-3">
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>Sản phẩm dùng rất tốt, đóng gói kỹ càng. Card màn hình chạy êm, nhiệt độ ổn định khi chơi game nặng. Rất hài lòng với dịch vụ của shop! </p>
                  </div>
                </div>
                <div class="d-flex">
                  <img src="assets/img/avatar.jpg" class="img-fluid rounded-circle p-3"
                       style="width: 100px; height: 100px;" alt="">
                  <div class="">
                    <p class="mb-2" style="font-size: 14px;">10 Tháng 02, 2026</p>
                    <div class="d-flex justify-content-between">
                      <h5>Trần Minh Hoàng</h5>
                      <div class="d-flex mb-3">
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p class="text-dark">Giao hàng nhanh, nhân viên tư vấn nhiệt tình. Tuy nhiên vỏ hộp hơi móp một chút do bên vận chuyển nhưng linh kiện bên trong vẫn an toàn. </p>
                  </div>
                </div>
                <div class="d-flex">
                  <img src="assets/img/avatar.jpg" class="img-fluid rounded-circle p-3"
                       style="width: 100px; height: 100px;" alt="">
                  <div class="">
                    <p class="mb-2" style="font-size: 14px;">08 Tháng 03, 2026</p>
                    <div class="d-flex justify-content-between">
                      <h5>Lê Minh Tuấn</h5>
                      <div class="d-flex mb-3">
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                      </div>
                    </div>
                    <p class="text-dark">Vừa build nguyên bộ PC ở đây, dây dải đi rất gọn gàng và thẩm mỹ. Cấu hình chạy mượt các phần mềm Adobe, giá lại mềm hơn mấy chỗ khác. Sẽ còn ủng hộ dài dài! </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="nav-vision" role="tabpanel">
                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                  amet diam et eos labore. 3</p>
                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                  Clita erat ipsum et lorem et sit</p>
              </div>
            </div>
          </div>
          <form action="#">
            <h4 class="mb-5 fw-bold">Để lại bình luận</h4>
            <div class="row g-4">
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input type="text" class="form-control border-0 me-4" placeholder="Tên của bạn *">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input type="email" class="form-control border-0" placeholder="Địa chỉ email">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="border-bottom rounded my-4">
                  <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                            placeholder="Ý kiến của bạn *" spellcheck="false"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex justify-content-between py-3 mb-5">
                  <div class="d-flex align-items-center">
                    <p class="mb-0 me-3">Please rate:</p>
                    <div class="d-flex align-items-center" style="font-size: 12px;">
                      <i class="fa fa-star text-muted"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Đăng bình
                    luận</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div class="row g-4 fruite">
          <div class="col-lg-12">
            <div class="input-group w-100 mx-auto d-flex mb-4">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
            <div class="mb-4">
              <h4>Danh mục sản phẩm</h4>
              <ul class="list-unstyled fruite-categorie">
                <li>
                  <div class="d-flex justify-content-between fruite-name">
                    <a href="#"><i class="fas fa-apple-alt me-2"></i>CPU - Bộ vi xử lý</a>
                    <span>(3)</span>
                  </div>
                </li>
                <li>
                  <div class="d-flex justify-content-between fruite-name">
                    <a href="#"><i class="fas fa-apple-alt me-2"></i>RAM - Bộ nhớ trong</a>
                    <span>(5)</span>
                  </div>
                </li>
                <li>
                  <div class="d-flex justify-content-between fruite-name">
                    <a href="#"><i class="fas fa-apple-alt me-2"></i>Ổ cứng SSD/HDD</a>
                    <span>(2)</span>
                  </div>
                </li>
                <li>
                  <div class="d-flex justify-content-between fruite-name">
                    <a href="#"><i class="fas fa-apple-alt me-2"></i>VGA - Card màn hình</a>
                    <span>(8)</span>
                  </div>
                </li>
                <li>
                  <div class="d-flex justify-content-between fruite-name">
                    <a href="#"><i class="fas fa-apple-alt me-2"></i>Nguồn máy tính</a>
                    <span>(5)</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <h4 class="mb-4">Sản phẩm nổi bật</h4>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-1.png" class="img-fluid rounded" alt="Image">
              </div>
              <div>
                <h6 class="mb-2">Chuột</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">300,000 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-2.png" class="img-fluid rounded" alt="">
              </div>
              <div>
                <h6 class="mb-2">Bàn phím</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">500,000 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-3.jpg" class="img-fluid rounded" alt="">
              </div>
              <div>
                <h6 class="mb-2">Màn hình</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">200,000 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-4.jpg" class="img-fluid rounded" alt="">
              </div>
              <div>
                <h6 class="mb-2">Case PC</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">999,999 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-5.png" class="img-fluid rounded" alt="">
              </div>
              <div>
                <h6 class="mb-2">Card</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">800,000 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-start">
              <div class="rounded me-4" style="width: 100px; height: 100px;">
                <img src="assets/img/vegetable-item-6.png" class="img-fluid rounded" alt="">
              </div>
              <div>
                <h6 class="mb-2">Main</h6>
                <div class="d-flex mb-2">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="d-flex mb-2">
                  <h5 class="fw-bold me-2">600,000 Đ</h5>
<!--                  <h5 class="text-danger text-decoration-line-through">4.11 $</h5>-->
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center my-4">
              <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Xem thêm</a>
            </div>
          </div>

<!--          <div class="col-lg-12">-->
<!--            <div class="position-relative">-->
<!--              <img src="assets/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">-->
<!--              <div class="position-absolute  " style="top: 50%; right: 10px; transform: translateY(-50%);">-->
<!--                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <!--    <h1 class="fw-bold mb-0">Related products</h1>-->
    <!--    <div class="vesitable">-->
    <!--      <div class="owl-carousel vegetable-carousel justify-content-center">-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Parsely</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-1.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Parsely</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-3.png" class="img-fluid w-100 rounded-top bg-light" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Banana</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-4.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Bell Papper</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Potatoes</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Parsely</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Potatoes</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="border border-primary rounded position-relative vesitable-item">-->
    <!--          <div class="vesitable-img">-->
    <!--            <img src="assets/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">-->
    <!--          </div>-->
    <!--          <div class="text-white bg-primary px-3 py-1 rounded position-absolute  " style="top: 10px; right: 10px;">Vegetable</div>-->
    <!--          <div class="p-4 pb-0 rounded-bottom">-->
    <!--            <h4>Parsely</h4>-->
    <!--            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>-->
    <!--            <div class="d-flex justify-content-between flex-lg-wrap">-->
    <!--              <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>-->
    <!--              <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
