<div class="uk-animation-slide-right">
  <div class="uk-card uk-card-default">
    <app-loading></app-loading>
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Thay đổi mật khẩu</h3>
          <p class="uk-text-meta uk-margin-remove-top">
            Thay đổi thông tin mật khẩu của bạn
          </p>
        </div>
      </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="changePassword()">
      <div class="uk-card-body">
        <div class="col-lg-12">
          <div>
            <div class="form-item w-100 mb-3 position-relative">
              <label class="form-label"><strong>Mật khẩu hiện tại</strong></label>
              <input type="password"
                     formControlName="oldPassword"
                     class="form-control p-3"
                     placeholder="Nhập mật khẩu hiện tại"
                     maxlength="18"
                     [ngClass]="{ 'is-invalid' :  (f['oldPassword'].touched)  && f['oldPassword'].errors,
                                  'is-valid' :  (f['oldPassword'].touched)  && !f['oldPassword'].errors}">
              <app-show-validate-error [control]="formGroup.controls['oldPassword']"
                                       [controlName]="'Mật khẩu hiện tại'"
                                       [minLength]="'6'"
                                       [maxLength]="'18'">
              </app-show-validate-error>
            </div>
            <div class="form-item w-100 mb-3 position-relative">
              <label class="form-label mt-2"><strong>Mật khẩu mới</strong></label>
              <input formControlName="newPassword"
                     type="password"
                     class="form-control p-3"
                     placeholder="Nhập mật khẩu mới"
                     maxlength="18"
                     [ngClass]="{ 'is-invalid' :  (f['newPassword'].touched)  && f['newPassword'].errors,
                                  'is-valid' :  (f['newPassword'].touched)  && !f['newPassword'].errors}">
              <app-show-validate-error [control]="formGroup.controls['newPassword']"
                                       [controlName]="'Mật khẩu mới'"
                                       [minLength]="'6'"
                                       [maxLength]="'18'">
              </app-show-validate-error>
            </div>
            <div class="form-item w-100 mb-3 position-relative">
              <label class="form-label mt-2"><strong>Xác nhận mật khẩu</strong></label>
              <input formControlName="confirmPassword"
                     type="password"
                     class="form-control p-3"
                     placeholder="Xác nhận mật khẩu"
                     maxlength="18"
                     (ngModelChange)="checkEqualsPassword()"
                     [ngClass]="{ 'is-invalid' :  (f['confirmPassword'].touched)  && f['confirmPassword'].errors || !isEqualsPassword,
                                  'is-valid' :  (f['confirmPassword'].touched)  && !f['confirmPassword'].errors} || isEqualsPassword">
              <app-show-validate-error [control]="formGroup.controls['confirmPassword']"
                                       [controlName]="'Xác nhận mật khẩu'"
                                       [minLength]="'6'"
                                       [maxLength]="'18'">
              </app-show-validate-error>
              <ng-container *ngIf="!isEqualsPassword && !f['newPassword'].errors  && !f['confirmPassword'].errors">
              <span class="text-error position-absolute">Mật khẩu không trùng khớp</span>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
      <div class="uk-card-footer text-end">
        <button type="submit" class="btn border-primary rounded-pill py-3 px-5 text-white bg-primary me-4">Cập nhật
        </button>
        <button type="reset" class="btn border-secondary rounded-pill py-3 px-5 text-secondary">Nhập lại</button>
      </div>
    </form>
  </div>
</div>
